body {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

#weather-app {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  max-width: 650px;
  max-height: 1100px;
  border: 7px solid #ba9d91;
  padding: 20px 15px 20px 15px;
  border-radius: 15px;
  box-shadow: 9px 9px 5px rgb(186, 157, 126, 0.3);
}

.container {
  margin: 10px 0px 0px 0px;
  max-width: 300px;
  font-family: "Poppins", sans-serif;
}

.center {
  display: block;
  text-align: center;
}
#status {
  text-align: center;
  color: #d6b591;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  padding: 10px;
  border-radius: 15px;
  border: 4px solid #ba9d91;
  margin: 0px 150px 0px 150px;
  background: rgb(255, 255, 255, 0.5);
}
#main-icon {
  display: center;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: -30px;
}
#main-icon path {
  fill: #ff3366;
}
h2 {
  color: #020202;
  font-weight: bolder;
  margin-top: 15px;
  font-weight: bold;
}
h4 {
  color: #ba9d91;
  font-weight: thin;
  margin-top: 20px;
  font-size: 15px;
  line-height: 5px;
}
.topInfo {
  margin-top: 20px;
  font-size: 20px;
  line-height: 20px;
}
.place {
  text-align: left;
  margin-bottom: -90px;
}
.grade {
  text-align: right;
}

.centerRiga {
  text-align: center;
}
.fa-angle-double-right {
  font-size: 30px;
}
.otherInfo {
  text-align: right;
  line-height: 40px;
}
.otherNumbers {
  text-align: left;
  line-height: 40px;
}
.barra {
  text-align: center;
  color: #ba9d91;
  font-size: 30px;
  margin: 0;
  line-height: 0;
}
.footer {
  display: center;
  text-align: center;
}

#search-form {
  display: inline-block;
  text-align: center;
  font-family: Poppins;
  color: #ba9d91;
  background: rgb(255, 255, 255, 0.5);
  padding: 20px 15px 20px 15px;
  border: 3px solid #ba9d91;
  border-radius: 8px;
  text-decoration: none;
  transition: all 200ms ease;
}

#search-form:hover {
  color: white;
  background: #d6b591;
}

#city-input {
  text-transform: capitalize;
}

section.top {
  text-align: right;
}
.misura {
  display: right;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  color: #ba9d91;
  background: rgb(255, 255, 255, 0.5);
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  border: 3px solid #ba9d91;
  border-radius: 8px;
  text-decoration: none;
  transition: all 200ms ease;
  margin-bottom: 20px;
  margin-top: -20px;
}
.misura:hover {
  color: white;
  background: #d6b591;
  border: 3px solid #ba9d91;
  border-radius: 8px;
}
#more {
  display: block;
  text-align: center;
  font-size: 15px;
  color: #ba9d91;
  background: rgb(255, 255, 255, 0.5);
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  border: 3px solid #ba9d91;
  border-radius: 8px;
  text-decoration: none;
  transition: all 200ms ease;
}
#more:hover {
  color: white;
  background: #d6b591;
  border: 3px solid #ba9d91;
  border-radius: 8px;
}
.footer p {
  color: #ba9d91;
  font-size: 10px;
}
